/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    /* width: 100vw; */
    height: 100vh;
    background: var(--white);
}

/* #header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--main);
}

#header h2 {
    color: var(--warmgray);
    margin: 15px 0 0 0;
    font-size: 24px;
}

#header .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: var(--orange);
}

#header .btn-get-started:hover {
    background: var(--main);
} */

#header .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #header {
        height: calc(100vh - 72px);
    }
    #header .animated {
        -webkit-animation: none;
        animation: none;
    }
    #header .header-img {
        text-align: center;
    }
    #header .header-img img {
        width: 80%;
        margin: 80px 0px;
    }
}

@media (max-width: 768px) {
    #header h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #header h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #header .header-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #header .header-img img {
        width: 80%;
    }
}

@media (max-height: 600px) {
    #header {
        height: calc(120vh);
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* .bg-home-header {
    background: linear-gradient(to right, #1a2c44, #3a5e7d);
} */

.masthead {
    margin: 200px 0px;
    padding: 100px 20px 0px 20px !important;
}

/* .div-image {
    top: -250px;
    z-index: -1;
    background-image: url(./img/decoration_home.svg);
    background-size: cover;
    background-position: left;
    height: 110%;
} */

.logos-header {
    height: 20px;
}

.img-used {
    margin: 20px;
    height: 10vh;
}

.img-home {
    max-height: 60vh;
    margin-bottom: 50px;
}

.evidenziation {
    border-radius: 10px;
    color: white;
    background-color: var(--violet);
}

.btn-header {
    min-height: 4vh;
    background-color: var(--sec) !important;
    border: hidden !important;
    border-radius: 100px !important;
    color: white !important;
    margin: 20px 20px 20px 0px;
}

.btn-header:hover {
    box-shadow: 0px 0px 7px white;
    background-color: white!important;
    border: hidden !important;
    border-radius: 100px !important;
    color: var(--main) !important;
}

/*--------------------------------------------------------------
# Section info
--------------------------------------------------------------*/

#section-info {
    /* width: 100vw; */
    padding: 250px 0px 250px 0px;
    height: 80vh;
    background: var(--black);
}

#section-info h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: var(--main);
}

#section-info h2 {
    color: var(--warmgray);
    margin: 15px 0 0 0;
    font-size: 24px;
}

#section-info .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 20px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: var(--orange);
}

#section-info .btn-get-started:hover {
    background: var(--main);
}

#section-info .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #section-info {
        height: calc(100vh - 72px);
    }
    #section-info .animated {
        -webkit-animation: none;
        animation: none;
    }
    #section-info .section-info-img {
        text-align: center;
    }
    #section-info .section-info-img img {
        width: 80%;
        margin: 80px 0px;
    }
}

@media (max-width: 768px) {
    #section-info h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #section-info h2 {
        font-size: 18px;
        line-height: 24px;
    }
    #section-info .section-info-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #section-info .section-info-img img {
        width: 80%;
    }
}

@media (max-height: 600px) {
    #section-info {
        height: calc(120vh);
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Categories
--------------------------------------------------------------*/

#categories {
    padding: 250px 0px 250px 0px;
}

.categories .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: center;
    border-bottom: 3px solid #fff;
}

.categories .icon-box:hover {
    transform: translateY(-5px);
    border-color: var(--orange);
}

.categories .icon i {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
    color: var(--main);
}

.categories .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.categories .title a {
    color: #111;
}

.categories .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Section home
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: var(--white);
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 0;
    line-height: 1px;
    margin-bottom: 15px;
    color: var(--warmgray);
}

.section-title p {
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: var(--main);
}

.section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--warmgray);
    bottom: 0;
    left: calc(50% - 30px);
}

.section-lastads {
    background-color: var(--black);
    padding: 150px 0px 150px 0px;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq {
    padding: 250px 0px 250px 0px;
}

.faq .faq-list {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    border-bottom: 1px solid #eae7e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.faq .faq-list .question {
    display: block;
    position: relative;
    font-family: #eb5d1e;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-weight: 600;
    padding-left: 25px;
    cursor: pointer;
    color: var(--main);
    transition: 0.3s;
}

.faq .faq-list i {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: -2px;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list .collapsed {
    color: var(--black);
}

.faq .faq-list .collapsed:hover {
    color: var(--violet);
}

.faq .faq-list .collapsed .icon-show {
    display: inline-block;
    transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
    display: none;
    transition: 0.6s;
}

/*--------------------------------------------------------------
# SWIPER
--------------------------------------------------------------*/
