nav {
    font-family: 'Open Sans', sans-serif !important;
}

.p-bg-white {
    background-color: var(--white) !important;
}

.nav-link {
    font-size: 15px !important;
    font-weight: 600;
    padding: 20px !important;
}

#navbar-presto {
    color: var(--main) !important;
    background-color: var(--white);
    /* max-height: 80px; */
}

#navbar-presto .navbar-expand-lg {
    background-color: var(--sec) !important;
}

#navbar-presto .nav-link {
    color: var(--main);
    transition: 250ms;
    /* transform: scale(1); */
}

#navbar-presto .nav-link:hover {
    transform: scale(1.05);
}

#navbar-presto.p-bg-white .nav-link {
    color: var(--main);
}

.navbar-brand {
    margin: 0px !important;
    padding: 0px !important;
}

#navbar-presto .navbar-toggler {
    padding: 0px !important;
    transition: all 0.5s;
}

#navbar-presto .navbar-toggler:focus {
    box-shadow: none;
}

.nav-back {
    background: transparent;
}

.logo-img {
    width: 6em;
    /* padding: 10px; */
}

.cart {
    color: var(--white);
    background-color: var(--main);
    border: 10px solid transparent;
    border-radius: 30px;
}

.dropdown::marker {
    display: none;
}

.navbar-btn-annuncio {
    font-weight: 600;
    border: 1px solid var(--violet);
    background: transparent !important;
    color: var(--violet);
    border-radius: 15px;
    padding: 0px 20px;
    margin: 0px 0px 0px 20px;
    /* outline: none; */
    max-height: 30px;
    transition: 250ms;
}

.navbar-btn-annuncio:hover {
    font-weight: 600;
    border: 1px solid var(--violet) !important;
    background: var(--violet) !important;
    box-shadow: 0px 0px 5px var(--violet);
    color: var(--white);
    border-radius: 15px;
    padding: 0px 20px;
    margin: 0px 0px 0px 20px;
    /* outline: none; */
    max-height: 30px;
    transform: scale(1.05);
}

/* //--------------- Revisore  --------------- */

.navbar-btn-revisore {
    position: relative;
    font-weight: 600;
    border: 1px solid var(--orange);
    background: var(--orange);
    color: var(--black);
    border-radius: 15px;
    padding: 0px 20px;
    margin: 0px 20px;
    /* outline: none; */
    max-height: 30px;
    transition: 250ms;
}

.navbar-btn-revisore:hover {
    font-weight: 600;
    border: 1px solid var(--orange) !important;
    background: var(--orange) !important;
    box-shadow: 0px 0px 5px var(--orange);
    color: var(--warmgray);
    border-radius: 15px;
    padding: 0px 20px;
    margin: 0px 20px;
    /* outline: none; */
    max-height: 30px;
    transform: scale(1.02);
}

.revisore-badge {
    height: auto;
    width: 20%;
    background-color: var(--white);
    color: var(--black);
    border-radius: 30px;
    font-weight: 800;
}

.unseen-count {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: var(--main);
    border-radius: 50%;
    top: 1rem;
    left: 9rem;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: #fff;
    line-height: 2rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    7% {
        transform: translateY(-1.5rem);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-0.7rem);
    }
    18% {
        transform: translateY(0);
    }
    21% {
        transform: translateY(-0.3rem);
    }
    23% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.unseen-count-animation {
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@media (max-width: 1600px) {
    .nav-link {
        font-size: 14px !important;
        padding: 12px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 14px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 14px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .unseen-count {
        width: 2rem;
        height: 2rem;
        top: 1rem;
        left: 6rem;
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media (min-width: 1165px) {
    #navbar-presto {
        padding: 10px 20px;
    }
    .nav-link {
        font-size: 12px !important;
        padding: 7px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .unseen-count {
        width: 1.7rem;
        height: 1.7rem;
        top: 0.8rem;
        left: 7em;
        text-align: center;
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 1280px) {
    #navbar-presto {
        padding: 10px 20px !important;
    }
    .nav-link {
        font-size: 12px !important;
        padding: 7px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .unseen-count {
        width: 1.7rem;
        height: 1.7rem;
        top: 1rem;
        left: 7.2rem;
        text-align: center;
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 1165px) {
    #navbar-presto {
        padding: 10px 20px !important;
    }
    .nav-link {
        font-size: 12px !important;
        padding: 7px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .unseen-count {
        width: 1.7rem;
        height: 1.7rem;
        top: 1rem;
        left: 7.2rem;
        text-align: center;
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 1091px) {
    #navbar-presto {
        padding: 10px 20px !important;
    }
    .nav-link {
        font-size: 11px !important;
        padding: 7px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .unseen-count {
        width: 1.7rem;
        height: 1.7rem;
        top: 1rem;
        left: 6rem;
        text-align: center;
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 1075px) {
    .nav-link {
        font-size: 12px !important;
        padding: 8px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 13px !important;
        padding: 0px 8px;
        margin: 0px 6px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 13px !important;
        padding: 0px 8px;
        margin: 0px 6px;
    }
}

@media (max-width: 1000px) {
    .nav-link {
        font-size: 12px !important;
        padding: 7px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 0px 8px;
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-size: 12px !important;
        padding: 7px !important;
        margin: 6px 0px;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 6px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 12px !important;
        padding: 0px 10px;
        margin: 6px 8px;
    }
    .unseen-count {
        width: 1.7rem;
        height: 1.7rem;
        top: 1rem;
        left: 6rem;
        text-align: center;
        font-size: 0.7rem;
        line-height: 1.7rem;
    }
}

@media (max-width: 450px) {
    .nav-link {
        font-size: 14px !important;
        padding: 15px 10px !important;
    }
    .navbar-btn-revisore, .navbar-btn-annuncio {
        font-size: 14px !important;
        padding: 0px 10px;
        margin: 10px 8px;
    }
    .navbar-btn-revisore:hover, .navbar-btn-annuncio:hover {
        font-size: 14px !important;
        padding: 0px 10px;
        margin: 10px 8px;
    }
}

/* Search */

/*search*/

.contSearch {
    position: fixed;
    right: 0px;
    top: 4px;
    z-index: 2000;
    background: #FFF;
    box-shadow: -5px 1px 10px 0 rgba(0, 0, 0, .2);
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
}

@media (max-width: 1091px) {
    .contSearch {
        top: 60px;
    }
}

.contSearch .form-control {
    width: 300px;
    border-radius: 50px !important;
}

.contIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 54px;
    height: 54px;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contIcon i {
    color: var(--main);
    cursor: pointer;
}

.contForm {
    display: none;
    padding: 10px 15px;
    border-radius: 50px !important;
}

.btn-outline-success {
    color: var(--violet) !important;
    border-color: var(--violet)!important;
    border-radius: 50px !important;
    margin: 0px 20px;
}

.btn-outline-success:hover {
    background-color: var(--violet)!important;
    color: var(--white) !important;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 var(--violet)!important;
}