* {
    font-family: 'Open Sans', sans-serif;
}

html { 
    scroll-behavior: smooth !important; 
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #212529;
}

body {
    background-color: var(--white);
}

li {
    text-decoration: none !important;
    list-style: none !important;
}

.container {
    width: 100vw !important;
}

:root {
    --main: #64a1ff !important;
    --sec: #8bfcfe !important;
    --black: #00001e !important;
    --blue: #00001e !important;
    --white: #fffcfc !important;
    --violet: #d278f2 !important;
    --orange: #fcc989 !important;
    --red: #ff5050 !important;
    --gray: #eaeced !important;
    --warmgray: #a08f86 !important;
    --gradient-one: linear-gradient(127deg, #64a1ff, #8bfcfe) !important;
    --gradient-two: linear-gradient(127deg, #d278f2, #fcc989) !important;
    --gradient-light: linear-gradient(127deg, #e9f2ff, #cacaca) !important;
}

::selection {
    color: var(--black);
    background: var(--main);
}

::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--violet);
}

.transition {
    transition: all 0.5s;
}

.shadow {
    box-shadow: 10px 10px 100px black;
}

.pointer {
    cursor: pointer !important;
}

a {
    text-decoration: none !important;
}

textarea::-webkit-input-placeholder {  display: none !important;}

.selectpicker {
    border-radius: 100px;
    color: var(--black);
    padding: 0px 20px;
    margin: 10px 0px;
}

.btn-product-cart {
    background-color: var(--violet);
    color: var(--white) !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    border: hidden;
    border-radius: 43px;
    padding: 7px 30px;
    line-height: 47px;
    transition: 250ms;
}

.btn-product-cart:hover {
    background-color: var(--violet);
    color: var(--white) !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    border: hidden;
    border-radius: 43px;
    padding: 7px 30px;
    line-height: 47px;
    box-shadow: 0px 0px 10px var(--violet);
}

/* ------------------ Footer  ------------------ */

footer img {
    height: 3.5em;
    margin: 50px 0px 50px 0px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: var(--black);
    padding: 100px 0px 100px 0px;
}

footer h6 {
    color: var(--violet);
    font-weight: 800;
    margin-bottom: 40px;
    position: relative;
}

footer h4 {
    color: var(--orange);
    font-weight: 800;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: var(--var--white) !important;
    text-decoration: none !important;
    border: 1px solid !important;
    border-radius: 100px !important;
    font-size: 13px !important;
    padding: 7px 30px !important;
    line-height: 47px !important;
}

.btn-footer:hover {
    text-decoration: none !important;
}

.form-footer input {
    width: 35vw;
    max-width: 200px;
    border: none;
    border-radius: 30px;
    outline: none;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
    color: var(--black) !important;
}

textarea  {
    color: var(--black) !important;
}

.form-footer button {
    border-radius: 30px;
    border: none;
    background: var(--violet);
    color: #fff;
    outline: none;
    margin: 10px 0px;
    padding: 2px 12px;
}

.social .fab {
    color: var(--black);
    font-size: 1em;
    padding: 10px 15px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* ------------------ Brand logos (home)  ------------------ */

.brand-logos {
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.111);
}

.brand-logos i {
    font-size: 3vh;
    font-size: max(1vw, 25px);
    max-height: 30px !important;
    transition: 250ms;
}

.icon-brand-p {
    padding: 2vh;
}

@media (max-width: 500px) {
    .icon-brand-p {
        padding: 1vh;
    }
}

.brand-logos i:hover {
    transform: scale(1.2);
}

/* ------------------ Button back to top  ------------------ */

#button {
    display: inline-block;
    color: var(--black);
    background-color: var(--orange);
    /* width: 50px;
    height: 50px; */
    text-align: center;
    border-radius: 150px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 250ms;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button:hover {
    cursor: pointer;
    background-color: #ffad48;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#button p {
    padding: 20px !important;
    margin: 0px !important;
}