* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #212529;
}

body {
    background-color:  #fffcfc;
}

.container {
    width: 100vw !important;
}

:root {
    --main: #64a1ff;
    --sec: #8bfcfe;
    --black: #00001e;
    --white: #fffcfc;
    --violet: #d278f2;
    --orange: #fcc989;
    --gray: #eaeced;
    --warmgray: #a08f86;
    --gradient-one: linear-gradient(127deg #64a1ff, #8bfcfe);
    --gradient-two: linear-gradient(127deg #d278f2, #fcc989);
}

::selection {
    color: #fffcfc;
    background: #d278f2;
}

::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--gray);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--violet);
}

.transition {
    transition: all 0.5s;
}

.shadow {
    box-shadow: 10px 10px 100px black;
}

a {
    text-decoration: none !important;
}

/* ------------------ Footer  ------------------ */

footer img{
    height: 3.5em;
    margin: 50px 0px 50px 0px;
}

footer {
    color: rgb(255, 255, 255);
    background-color: var(--black);
    padding: 100px 0px 100px 0px;
}

footer h6 {
    color: var(--violet);
    font-weight: 800;
    margin-bottom: 40px;
    position: relative;
}

footer h4 {
    color: var(--orange);
    font-weight: 800;
    margin-bottom: 40px;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.btn-footer {
    color: var(--var(--white));
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

.btn-footer:hover {
    text-decoration: none;
}

.form-footer input {
    width: 35vw;
    max-width: 200px;
    border: none;
    border-radius: 30px;
    outline: none;
}

::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}

.form-footer button {
    border-radius: 30px;
    border: none;
    background: var(--violet);
    color: #fff;
    outline: none;
    margin: 10px 0px;
    padding: 2px 12px;
}

.social .fab {
    color: var(--black);
    font-size: 1em;
    padding: 10px 15px;
}

footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
}



/* ------------------ Brand logos (home)  ------------------ */

.brand-logos {
    background-color: #f0f0f0;
    width: 100%;
}

.brand-logos i {
    font-size: 3vh;
    max-width: 100px;
    transition: 250ms;
}

.brand-logos i:hover {
    transform: scale(1.2);
}
